#!/usr/bin/env zsh
# vim: set ft=zsh:

# TODO: 1password-cli
# TODO: ruby-build rbenv?

# {{- $cmd := joinPath .chezmoi.sourceDir "support/checksum.sh" }}
# {{- $pkgs := joinPath .chezmoi.homeDir ".config/bmatheny/Brewfile" }}

# ~/.config/bmatheny/Brewfile hash: {{ output $cmd $pkgs | trim }}

function initialize_support() {
  local sourcedir="{{ .chezmoi.sourceDir }}"
  if [ ! -d "${sourcedir}" -a $+commands[chezmoi] ]; then
    sourcedir=$(chezmoi source-path)
  fi
  if [ -f "${sourcedir}/support/init.zsh" ]; then
    source "${sourcedir}/support/init.zsh"
  else
    echo "Could not find ${sourcedir}/support/init.zsh"
    exit 1
  fi
  init_source "${sourcedir}"
  load_support_script "$1"
}

if [[ "$(uname)" != Darwin ]]; then
  echo "Exiting since we only install homebrew packages on MacOS"
  exit 0
fi

initialize_support "brews.zsh"
packages="$HOME/.config/bmatheny/Brewfile"
brew_install "$packages" 0

exit 0
