#!/usr/bin/env zsh
# vim: set ft=zsh:

# Note that this uses 'gem' from your environment. So if you
# do nothing, it'll likely be the gem/ruby that was installed
# by homebrew. But if you prefer a different ruby (e.g. rbenv)
# then you should install that and setup the path correctly.

# {{- $cmd := joinPath .chezmoi.sourceDir "support/checksum.sh" }}
# {{- $upkgs := joinPath .chezmoi.homeDir ".config/bmatheny/Gemfile" }}

# .config/bmatheny/Gemfile hash: {{ output $cmd $upkgs | trim }}

function initialize_support() {
  local sourcedir="{{ .chezmoi.sourceDir }}"
  if [ ! -d "${sourcedir}" -a $+commands[chezmoi] ]; then
    sourcedir=$(chezmoi source-path)
  fi
  if [ -f "${sourcedir}/support/init.zsh" ]; then
    source "${sourcedir}/support/init.zsh"
  else
    echo "Could not find ${sourcedir}/support/init.zsh"
    exit 1
  fi
  init_source "${sourcedir}"
  load_support_script "$1"
}

initialize_support "gems.zsh"
packages="$HOME/.config/bmatheny/Gemfile"
gem_install "$packages" 0

exit 0
