#!/usr/bin/env zsh
# vim: set ft=zsh:

# TODO: 1password-cli
# TODO: ruby-build rbenv?

{{- $cmd := joinPath .chezmoi.sourceDir "support/checksum.sh" }}
{{- $pkgs := joinPath .chezmoi.sourceDir "packages.yaml" }}
{{- $upkgs := joinPath .chezmoi.homeDir ".config/bmatheny/packages.yaml" }}

# packages.yaml hash: {{ output $cmd $pkgs | trim }}
# ~/.config/bmatheny/packages.yaml hash: {{ output $cmd $upkgs | trim }}

function error_fn {
  echo "Exiting with error: '$1'"
  exit 1
}

if (( ! $+commands[brew] )); then
  homebrew_locations=(
    "${HOME}/homebrew"
    "/usr/local")
  for location in $homebrew_locations; do
    if [[ -d "$location/bin" && -x "$location/bin/brew" ]]; then
      eval "$(${location}/bin/brew shellenv)"
      break
    fi
  done
fi

(( $+commands[brew] )) || error_fn "Could not find homebrew"
(( $+commands[chezmoi] )) || error_fn "Could not find chezmoi"
(( $+commands[shyaml] )) || error_fn "Could not find shyaml"

packages="{{ $pkgs }}"
[[ -f $packages ]] || error_fn "Could not find packages file '${packages}'"

function install_brews_from_file {
  local file="$1"
  if [[ -f "${file}" ]]; then
    for group in $(cat "${file}" | shyaml keys brew); do
      brewfile=""
      for brew in $(cat "${file}" | shyaml get-values "brew.${group}"); do
        brewfile="${brewfile}\nbrew \"${brew}\""
      done
      echo $brewfile | brew bundle --quiet --file=-
    done
  fi
}

install_brews_from_file "$packages"
install_brews_from_file "{{ $upkgs }}"

exit 0
