[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/vim-markdown-preview"]
	path = .vim/bundle/vim-markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview.git
