# Changes will be lost if made to ~/.gitconfig
[user]
	name = Blake Matheny
	email = bmatheny@mobocracy.net
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	co = checkout
	st = status
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
	info = !"~/bin/git-info.sh"

[core]
	editor = vim
