[submodule ".vim/bundle/vim-haml"]
  path = .vim/bundle/vim-haml
  url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/vim-rails"]
  path = .vim/bundle/vim-rails
  url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-cuccumber"]
  path = .vim/bundle/vim-cuccumber
  url = https://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/nerdtree"]
  path = .vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tagbar"]
  path = .vim/bundle/tagbar
  url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-scala"]
  path = .vim/bundle/vim-scala
  url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vim-treetop"]
  path = .vim/bundle/vim-treetop
  url = https://github.com/nanki/treetop.vim.git
[submodule ".vim/bundle/hammer"]
  path = .vim/bundle/hammer
  url = https://github.com/matthias-guenther/hammer.vim
[submodule ".vim/bundle/lusty"]
  path = .vim/bundle/lusty
  url = https://github.com/sjbach/lusty.git
[submodule ".vim/bundle/vim-markdown"]
  path = .vim/bundle/vim-markdown
  url = https://github.com/hallison/vim-markdown.git
[submodule ".vim/bundle/vim-ack"]
  path = .vim/bundle/vim-ack
  url = https://github.com/mileszs/ack.vim.git
[submodule "src/phpsh"]
  path = src/phpsh
  url = https://github.com/facebook/phpsh.git
[submodule ".vim/bundle/vim-fugitive"]
  path = .vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-mercenary"]
	path = .vim/bundle/vim-mercenary
	url = https://github.com/phleet/vim-mercenary.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/powerline/powerline.git
