.DS_Store
Thumbs.db
src/templates/skeleton.php
src/phpsh/*.pyc
.vim/mytags/
.vim/.netrwhist
.gitconfig.private
.ssh/compendium.rsa
.ssh/compendium.x509.pem
.ssh/compendium.x509.pk.pem
.ssh/id_dsa
.ssh/id_rsa
.ssh/known_hosts
.ssh/mobocracy.pem
.ssh/mobocracy.x509.pem
.ssh/mobocracy.x509.pk.pem
